<div class="navbar navbar-lewagon">

  <div class="logo">
    <%= link_to lists_path do %>
    <%= image_tag 'logo.png', alt: 'Application Logo', class: 'avatar' %>
    <% end %>
  </div>

  <div class="navbar-links">
    <%= link_to "New List", new_list_path, class: 'btn add-button' %>
  </div>

</div>
